.fileInput {
  cursor: pointer;
  height: 100%;
  position:absolute;
  top: 0;
  right: 0;
  z-index: 99;
  /*This makes the button huge. If you want a bigger button, increase the font size*/
  font-size:40px;
  /*Opacity settings for all browsers*/
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}
/*
#dropzone {
    background: palegreen;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
*/

#dropzone.in {
  /*width: 150px;
  height: 100px;*/
  /*line-height: 200px;    */
  border-style: dashed;
}
/*
#dropzone.hover {
  /*background: lawngreen;*//*
  border-style: dashed;
}*/
#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

.carousel-inner img {
  margin: auto;
}

.hover-btn {
   position: absolute;
   right: 15px;
   display: none;
}

.col-xs-2:hover .hover-btn {
   display: block;
}

