/ - logger.debug "Message Flash #{flash.first}" unless resource.nil?

/ - unless flash.nil?
/   - flash.each do |type, message|
/     - logger.debug "FLASH #{type}: #{message}"
    
/     / Skip unknown flash types.
/     - next unless ApplicationController::FLASH_TYPES.include?(type.to_sym)

/     - if type.to_s.downcase == 'success'
/       .alert.alert-success.alert-dismissable.fade.in
/         button.close data-dismiss="alert" aria-hidden="true"
/          ' &times;
/         | #{message}
/     - elsif type.to_s.downcase == 'notice'
/       .alert.alert-info.alert-dismissable.fade.in
/        button.close data-dismiss="alert" aria-hidden="true"
/          ' &times;
/        | #{message}
/     - elsif type.to_s.downcase == 'alert'
/       .alert.alert-danger.alert-dismissable.fade.in
/        button.close data-dismiss="alert" aria-hidden="true"
/          ' &times;
/        | #{message}
/     - elsif type.to_s.downcase == 'error'
/       .alert.alert-danger.alert-dismissable.fade.in
/         button.close data-dismiss="alert" aria-hidden="true"
/          ' &times;
/         | #{message}
/     - else
/       .alert.alert-info.alert-dismissable.fade.in
/         button.close data-dismiss="alert" aria-hidden="true" &times;
/         | #{message}

javascript:
  $(".alert-info").alert();
  window.setTimeout(function() { $(".alert-info").alert('close'); }, 4000);
  $(".alert-success").alert();
  window.setTimeout(function() { $(".alert-success").alert('close'); }, 4000);
