/ = render :partial => 'layouts/flash_messages'

/ - logger.debug "DEVISE FLASH #{resource.errors.full_messages}" unless (defined?(resource)).nil? or resource.errors.empty? 

/ - unless (defined?(resource)).nil? or resource.errors.empty?
/   - messages = resource.errors.full_messages.compact.reject(&:blank?)
/   - if messages.count > 0
/ 	  .alert.alert-danger.alert-dismissable.fade.in
/     	button.close data-dismiss="alert" aria-hidden="true" &times;
/     	| #{messages.to_a.uniq.join(". ")}



